[Desktop Entry]
Comment=Adapta Style
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Adapta
Type=Service

X-KDE-PluginInfo-Author=Alexey Varfolomeev
X-KDE-PluginInfo-Email=varlesh@gmail.com
X-KDE-PluginInfo-License=GPL-3.0-only
X-KDE-PluginInfo-Name=com.github.varlesh.adapta
X-KDE-PluginInfo-Version=20260420
X-KDE-PluginInfo-Website=https://github.com/digitalxs/adapta-kde
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-APIVersion=2
X-Plasma-MainScript=defaults
