[Desktop Entry]
Name=Adapta
Type=Service
X-KDE-ServiceTypes=Plasma/Wallpaper/Images

X-KDE-PluginInfo-Author=Alexey Varfolomeev
X-KDE-PluginInfo-Email=varlesh@gmail.com
X-KDE-PluginInfo-License=GPL-3.0-only
X-KDE-PluginInfo-Name=Adapta
X-KDE-PluginInfo-Website=https://github.com/PapirusDevelopmentTeam/adapta-kde
